*{
    margin: 0;
    padding: 0;
} 

.container{
    width: 1100px;
    height: 1168px;
    margin-top: 50px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px ;
    box-shadow:  0 0 10px  rgba(137, 136, 136, 0.6);
      -moz-box-shadow: 0 0 10px  rgba(137, 135, 135, 0.6);
      -webkit-box-shadow: 0 0 10px  rgba(118, 117, 117, 0.6);
      -o-box-shadow: 0 0 10px  rgba(118, 117, 117, 0.6);
    margin-left: 120px;
    
   
}
nav{
  width: 100%;
  margin-top: -44px;
  padding: 37px;
  display: flex;
  justify-content: space-evenly;
}
.logo{
  width: 150px;
  height: 125px;
  margin-top: 5px; 


}
#unorder{
  display: flex;
  justify-content:space-evenly ;
  margin-left: 199px;
  list-style: none;
}

.link-item{
 font-weight: bold;
 margin: 35px;
 font-family: 'Sofia Sans Condensed', sans-serif;

}
.links{
  text-decoration: none;
  color: rgb(251, 249, 249);

}
.link-item:hover a{
  color: rgb(10, 195, 145);

}
.download{
   width: 75px;
    height: 23px;
    margin: 40px;
    font-family: 'Kanit', sans-serif; 
    color: rgb(4, 0, 0);
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(84, 83, 83);
    border-radius: 4px;
}
.search{
    text-align: center;
    width: 252px;
    height: 21px;
    margin-left: 374px;
    margin-top: 17px;

}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.heading{
  color: rgb(254, 254, 254);
  font-family: 'Outfit', sans-serif;
}
span{
  color: rgb(241, 248, 215);
  font-family: 'Outfit', sans-serif;
}

#para1{
  text-align: center;
  color: rgb(254, 254, 254);
  font-family: 'Roboto Mono', monospace;
}
.video-main{
  width: 700px;
  height: 350px;
  background-color: rgb(68, 68, 68);
   box-shadow: 5px 5px 5px rgb(102, 102, 102);
  border-radius: 10px;
  margin-top: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.video-sub{
  width: 600px;
  height: 300px;
  background-color: rgb(85, 86, 86);
  border-radius: 10px 10px;
  box-shadow: 5px 5px 5px rgb(131, 129, 129);
}
video{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(142, 141, 141);
}
#lower-head{
  color: rgb(223, 245, 239);
  font-size: 25pt;
   font-family: 'Outfit', sans-serif;
}
.lowHead{
  margin-top:69px ;
}
.class-lowerhead{
  font-size: 18pt;
  margin-left: 6px;
  font-family: 'Young Serif', serif;
}
.download2{
  width: 73px;
  height: 19px;
  color: rgb(0, 0, 0);
  background-color: rgb(248, 250, 250);
  font-weight: bold;
  text-decoration: none;
  border: 0.5px solid black;
  border-radius: 6px;
  font-size: 16pt;
  font-family: 'Kanit', sans-serif; 
}
.downBtn{
    margin-top: 14px;
    margin-left: 38px;

}
hr{
  margin-left: 211px;
  margin-top: 86px;
  color: rgb(124, 123, 123);

}
footer{
  width: 100%;
  height: 200px;
  margin-top: -55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#subimg{
    width: 129px;
    margin-top: 135px;

}
#footUl{
  list-style: none;
}
.link-foot{
  list-style: none;
  font-family: 'Sofia Sans Condensed', sans-serif;
}
.links-foot{
  text-decoration: none;
  color: rgb(252, 250, 250);
}
.foot-sub{
  font-size: 12pt;
  font-weight: bold;
  color: rgb(251, 249, 249);
}
#up-logo{
  margin-bottom: 175px;
}
#img-para{
  margin-bottom: 10px;
  color: rgb(254, 254, 254);
  font-family: 'Sofia Sans Condensed', sans-serif;
}
#para-div{
margin-top: -47px;
}
.arrange{
  display:flex;
  gap: 15px;

}
.icn{
   color: rgb(10, 195, 145);
}
